body {
	margin: 0;
	background-color: black;
}

.home {
	width: 500px;
	height: 500px;
	background-image: url(../images/home.jpg);
	background-repeat: no-repeat;
	border-radius: 500px;
	background-size: cover;
	background-position: center center;
	margin: 0 auto;
}